.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-panel {
  width: 45%;
  height: 50rem;
  margin: 2rem;
  border: 1px solid black;
  flex: 1;
}

.display-panel {
  width: 45%;
  height: 50rem;
  margin: 2rem;
  border: 1px solid black;
  flex: 1;
}